@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>Omarketing</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
@{ var cssclass = ViewBag.BodyCss != null ? "light" : "";}

<body class="@cssclass">
    <div class="top-imagen" style="background-image: url('@Url.Content("~/images/eugene-lim-260668-lanczos3 (1).jpg")')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 visible-lg visible-md visible-sm">
                    <div style="position:absolute;color:white;z-index:100000;top:35%">
                        <span>--</span>
                        <span style="display:inline;font-size:12px">
                            HACEMOS CRECER TU NEGOCIO
                        </span>
                        <br />
                        <h3 style="display:inline;">Partimos de la estrategia</h3>
                        <br />
                        <h3 style="display:inline;">
                            con el fin de alcanzar
                        </h3>
                        <br />
                        <h3 style="display:inline;">objetivos de manera</h3>
                        <br />
                        <h3 style="display:inline;">sostenible.</h3>
                    </div>
                    <div style="position:absolute;z-index:100000;top:60%">
                        <img src="~/images/19357625_1563138477070787_1430364618_n.png" class="img-responsive" style="display:inline;width:50px;">
                        <h1 style="display:inline;color:white;font-weight:bold">marketing</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse menu" style="background:black">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Index"><img src="~/images/logo.png" style="width:55px;height:46px;margin-top:2px" class="img-responsive" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-click="#Servicio" data-home="true">Servicio</a></li>
                    <li><a data-click="#Funciona" data-home="true">Cómo Funciona</a></li>
                    <li><a data-click="#Equipo" data-home="true">Equipo</a></li>
                    <li><a data-click="#Blog" data-home="true">Blog</a></li>
                    <li><a data-click="#Clientes" data-home="true">Clientes</a></li>
                    <li><a data-click="#Contácto" data-home="true">Contácto</a></li>
                    <li><a ><i class="material-icons">search</i></a></li>   
                </ul>
            </div>            
        </div>
    </nav>
    <div id="empty-fixedbar"></div>
    <div class="container body-content">
        <div id="loader" class="animated">
            <div class="container">
                <center>
                    <br /><br />
                    <div class="cssload-preloader cssload-loading">
                        <span class="cssload-slice"></span>
                        <span class="cssload-slice"></span>
                        <span class="cssload-slice"></span>
                        <span class="cssload-slice"></span>
                        <span class="cssload-slice"></span>
                        <span class="cssload-slice"></span>
                    </div>
                    <p>Un momento...</p>
                </center>
            </div>
        </div>
        <div id="body-div" class="animated" data-call-url="@ViewBag.DataCallUrl">
            @RenderBody()
        </div>
        <br /><br />        
    </div>

    <footer>
        <div class="footer-div">
            <div class="container">
                <div class="row" style="margin-bottom:3%">
                    <div class="col-lg-3 col-md-12">
                        <img class="img-responsive logo-footer" style="margin-top:8%" src="~/images/Footer.PNG" />
                    </div>
                    <div class="col-lg-6 col-md-12 visible-lg visible-md visible-sm">
                        <div class="row" style="margin-top:8%">
                            <div class="col-lg-5 col-md-4 col-sm-4">
                                <div>
                                    <a data-click="@Url.Content("~/Home/Innovacion")" style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Innovación</a><br />
                                    <a data-click="@Url.Content("~/Home/Neuromarketing")" style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Neuromarketing</a><br />
                                    <a data-click="@Url.Content("~/Home/Cmr")" style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Customer Relationship</a><br />
                                    <a data-click="@Url.Content("~/Home/Shopper")" style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Shopper</a><br />
                                    <a data-click="@Url.Content("~/Home/Mix")" style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Marketing Mix</a><br />
                                    <a data-click="@Url.Content("~/Home/Estrategia")" style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Estrategia</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div>
                                    <a data-click="@Url.Content("~/Home/ComoFunciona")"  style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Cómo funciona</a><br />
                                    <a data-click="@Url.Content("~/Home/ComoFunciona")" style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Estrategía</a><br />
                                    <a data-click="@Url.Content("~/Home/ComoFunciona")" style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Diagnosticamos</a><br />
                                    <a data-click="@Url.Content("~/Home/ComoFunciona")" style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Implementamos</a><br />
                                    <a data-click="@Url.Content("~/Home/ComoFunciona")" style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Crecemos</a>
                                </div> 
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div>
                                    <a data-click="#Equipo" data-home="true" style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Equipo</a><br />
                                    <a data-click="#Clientes" data-home="true" style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Clientes</a><br />
                                    <a data-click="#Contácto" data-home="true" style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Contácto</a><br />
                                    <a data-click="#Blog" data-home="true" style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Blog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12" style="margin-top:4%">
                        <img src="~/images/omarketing redes.png" class="img-responsive" style="display:inline;width:42px" />
                        <img src="~/images/omarketing redes.png" class="img-responsive" style="display:inline;width:42px" />
                        <img src="~/images/omarketing redes.png" class="img-responsive" style="display:inline;width:42px" />
                        <img src="~/images/omarketing redes.png" class="img-responsive" style="display: inline; width:42px" /><br /><br />
                        <p style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Carrera 9B # 113 - 66</p><br />
                        <p style="color:#898888;font-size:20px;text-align:left;font-weight:bold;display:inline">Tel: 318 865 56 05</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
   
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script src="~/js/menu.js"></script>
</body>
</html>
